
@import 'variables';
@import 'mixins';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

@media (max-width: $screen-sm-min) {
  #matrix { display: none; }
}

#matrix {
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  color: $text-color !important;
  font-size: 15px !important;
  border:0px solid $text-color !important;
  padding:4px 4px !important;
  background: rgba(255,255,255,.3) !important;
  text-shadow:1px 1px #333;
  outline: none !important;
  @include transition(all 0.3s ease-out);
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: rgba(255,255,255,.1) !important;
  }

  &:active , &:focus {
    text-decoration: none;
  }
}

.main{
  position: absolute;
  border:0px solid red;
  width: 99.7%;
  left: 0;
  top: 0;

  .glass {
    background: rgba(255,255,255,.1) !important;
  }

  .intro {
    border:0px solid red !important;
    padding-top:20px !important;
    padding-left: 20px !important;
    margin-top: 60px;
    font-weight: light !important;

    p {
      font-weight: lighter !important;
      text-shadow:1px 1px 1px #666;

      strong {
        font-weight: strong;
      }
    }
  }
}