
$font-family-sans-serif: 'Oxygen', sans-serif;
$font-family-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Ubuntu', sans-serif;
$font-size-base: 20px;
$body-bg: rgba(20,20,20,1);
$text-color: #ecf0f1;
$line-height-base: 1.5;